<%= form_tag ip_addresses_path, :method => :get, :id => 'ip_addresses_form', :html => { :role => 'form' }, multipart: true do %>
<div id="ip_filter_btn">
  <%= button_tag(type: 'submit', class: 'btn btn-info') do %>
  <span class="glyphicon glyphicon-filter"></span>
  <p>IP</p>
  <% end %>
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Http Hosts
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= text_area_tag :hosts, nil, rows: 7, placeholder: "Specify hosts through the commas ..." %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Cookies
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <%= text_area_tag :cookies, nil, rows: 7, placeholder: "Not working ..." %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          IP Addr
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-condensed" id="ips_table">
          <thead>
            <tr>
              <th>
              </th>
              <th><input type="checkbox" id="checkAll" /> IPs</th>
            </tr>
          </thead>

          <tbody>
            <% @all_ips.each_with_index do |ip, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td nowrap><%= check_box_tag "ips[#{ip}]", 1, @selected_ips.include?(ip), :id => "ips_#{ip}" %> <%= ip %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
